body,
html {
  height: 100%;
}

body {
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

p {
  font-size: 16px;
  line-height: 1.2;
}

h1 {
  line-height: 2;
}

h4 {
  line-height: 1.5;
}

.hero,
.box-container {
  flex: 1 1 50%;
}

.hero {
  background: url(../images/trump2.jpg) no-repeat center;
  background-size: cover;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 50%;
  padding: 10px 0;
}

article img {
  width: 80px;
  height: 80px;
}

article p {
  margin-top: 10px;
}

.heading-content {
  align-self: flex-start;
  padding: 10px;
}

#header-box,
#portfolio {
  flex-basis: 100%;
}

#header-box,
#blog {
  background-color: #CCA000;
}

#profile {
  background-color: #4C4000;
}

#experience,
#contact {
  background-color: #FFD700;
}

#education {
  background-color: #7F6B00;
}

#social,
#portfolio {
  background-color: #191500;
}


@media screen and (min-width: 740px) {
  .hero,
  .box-container {
    flex: 1 1 50%;
  }
  article {
    flex: 1 1 33.3333%;
  }
  #header-box {
    flex-basis: 66.5%;
  }
  #portfolio {
    flex-basis: 33.3333%;
  }
}

@media screen and (min-width: 900px) {
  .wrapper {
    flex-direction: row-reverse;
  }
  .hero {
    height: 100%;
  }
  article {
    flex: 1 1 50%;
  }
  #header-box,
  #portfolio {
    flex-basis: 100%;
  }
}

@media screen and (min-width: 1400px) {
  article {
    flex: 1 1 33.3333%;
  }
  #header-box {
    flex-basis: 66.5%;
  }
  #portfolio {
    flex-basis: 33.3333%;
  }
}
